img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.second{
    position: fixed;
    top: 250px;
    left: 100px;
}
.first{
    position: sticky;
    right: 50px;
    bottom: 150px;
}